body {
  padding: 0;
  margin: 150px 0;
  text-align: center;
}

.mango {
  display: inline-block;
  width: 180px;
  height: 215px;
  font-size: 8.5em;
  line-height: 1.5em;
  border-radius: 50% / 25px;
  background-color: #19B530;
  text-align: center;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial;
  position: relative;
  left: 20px;
}

.mango:before,
.mango:after  {
  content:'';
  display: inline-block;
  width: 50px;
  height: 187px;
  border-radius: 50% / 50%;
  background-color: #19B530;
  position:absolute;
  top: 14px;
}

.mango:before {
  left: -14px;
}

.mango:after {
  right: -14px;
}

.mango span {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.mango span:before,
.mango span:after {
  display: inline-block;
  font-size: 1.05em;
  line-height: 1em;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: 500;
}

.mango span:before {
  content: '[';
  left: 85px;
  top: -10px;
}

.mango span:after {
  content: ']';
  left: 85px;
  bottom: -10px;
}